body {background: #333;}
#page-wrap:after{content: "Smartphone Layout";};
h2 span, section h3{display: none;}
body {font-size: xx-large;}
footer, input {font-size: large;}
.profile-image {display: block;}

.author-table {margin-left: 45%; font-size: 12px;}